<div class="div">{{ title }} Hello!</div>
<button (click) = "toggleComponentVisibility">toggle component</button>
<button 
    *ngFor="let letter of letters" 
    class = "button"
    [ngClass]="{ 'clickedButton': chosenLetter === letter.letter}"
    (click)="chosenLetter(letter.letter">
    Wybierz {{ letter.letter }}
</button>


<div *ngIf="shouldComponentExist" >
    <div>

    </div>
<app-char-item 
    
    [letter] ="char" 
    (letterClicked)="onLetterClicked($event)">
</app-char-item>
</div>

<main>  
    <div id="header">
        <app-header></app-header>
    </div>

    <div id=main>
        <app-main></app-main>
        <app-sidebar></app-sidebar>
    </div>
</main>
<footer>
    <app-footer></app-footer>
</footer>
    


